.card {
  display: flex;
  flex-direction: column;
  max-width: min(90%, 740px);
  margin: 2rem auto;
}

.btngroup {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.btngroup button {
  padding: 5px 20px;
}
