.card {
    display: flex;
    flex-direction: column;
    max-width: min(90%, 940px);
    margin: 2rem auto;
}

.card-body {
    padding: 1rem 2rem;
}

h3 {
    text-align: center;
    margin: 1rem auto 0;
}

form {
    max-width: min(100%, 940px);
    padding: 1rem 2rem;
    margin: 0 auto;
}


.error {
    font-size: 0.8em;
    font-weight: bold;
    color: red;
    margin: 0 0 0.5rem 0;
}

.form-group {
    margin-top: 0;
    padding: 0 1rem;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
    border: 1px solid red;
}

.form-group.ng-invalid.ng-touched {
    border-left: 1px solid red;
    border-right: 1px solid red;
    border-radius: 20px;
}
